.sidebarOption{
    height: 40px;
    display: flex;
    color: grey;
    cursor: pointer;
    transition: .3s color ease-in;
    margin-left: 8px;
}
.sidebarOption:hover{
    color: white;
}
.sidebarOption__icon {
    box-sizing: content-box;
    padding: 0 10px;
}
.sidebarOption > p {
    font-size: 15px;
}